<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.permission.RECEIVE_SMS" />
    <uses-feature android:name="android.permission.READ_SMS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <application
        android:name=".ProjectApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.WM21">
        <activity
            android:name=".view.activities.PremierShopViewActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.mlm.ApplicationActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.MobileRechargeActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.HomeMoreProductActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.affiliate.HomeActivityAff"
            android:exported="false" />
        <activity
            android:name=".view.activities.mlm.VerifyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.mlm.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.SmsCallActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.mlm.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.RewardsActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.GenealogyActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.TSNFCategoryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.TSNFApplyActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.mlm.company.CompanyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.FranchiseActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.TrainingActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.ShopSearchScanActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.SearchShopActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.ShopsActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.activities.EarningActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.activities.SplashscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WM21.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.ProductDetailsActivity"
            android:exported="true" />

        <receiver
            android:name=".FHelper.SmsBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>